@using HorsesForCourses.Application
@using HorsesForCourses.Application.Paging
@using HorsesForCourses.Application.dtos
@using HorsesForCourses.Infrastructure
@using HorsesForCourses.MVC
@using HorsesForCourses.MVC.ViewModels;
@model GetByIdResponse

@{
    ViewData["Title"] = "Course Details";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<h3>Coursedetails for @Model.Name</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">From:</dt>
        <dd class="col-sm-10">@Model.StartDate</dd>

        <dt class="col-sm-2">Until:</dt>
        <dd class="col-sm-10">@Model.EndDate</dd>

        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">todo</dd>

        <dt class="col-sm-2">Assigned coach(es):</dt>
        <dd class="col-sm-10">todo</dd>
    </dl>
</div>

<h4>Skills</h4>
@if (Model.Skills.Any())
{
    <ul>
        @foreach (var skill in Model.Skills)
        {
            <li>@skill</li>
        }
    </ul>
}
else
{
    <p>This course does not have skillrequirements yet.</p>
}

@* todo
<h4>Assigned coach(es)</h4>
 @if (Model.Courses.Any())    
{
    <ul>
        @foreach (var course in Model.Courses)
        {
            <li><a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a></li>
        }
    </ul>
} 
else
{
    <p>This course does not have skillrequirements yet.</p>
}
*@

<div>
    <a asp-action="EditSkills" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit skills</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to summary</a>
</div>
