@using HorsesForCourses.Application
@using HorsesForCourses.Application.Paging;
@using HorsesForCourses.Application.dtos
@using HorsesForCourses.Core
@using HorsesForCourses.Infrastructure
@using HorsesForCourses.MVC
@using HorsesForCourses.MVC.ViewModels;
@model PagedResult<CourseAssignStatusDTOPaging>

@{
    ViewData["Title"] = "Courses summary";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Register new course</a>
</p>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Items)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.StartDate.ToString()</td>
                @* course.PlanningPeriod.ToString("yyyy-MM-dd") *@
                <td>@course.EndDate.ToString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paging -->
<nav>
    <ul class="pagination">
        @if (Model.HasPrevious)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span> Previous
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        @if (Model.HasNext)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)" aria-label="Next">
                    Next <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
