@using HorsesForCourses.Application
@using HorsesForCourses.Application.Paging;
@using HorsesForCourses.Application.dtos
@using HorsesForCourses.Infrastructure
@using HorsesForCourses.MVC
@using HorsesForCourses.MVC.ViewModels;
@model PagedResult<CoachDTOPaging>

@{
    ViewData["Title"] = "Coaches summary";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Register new coach</a>
</p>

@if (Model.Items.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th># of assigned courses</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coach in Model.Items)
            {
                <tr>
                    <td>@coach.Id</td>
                    <td>@coach.Name</td>
                    <td>@coach.Email</td>
                    <td>@coach.NumberOfCoursesAssignedTo</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@coach.Id" class="btn btn-info btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Paging -->
    <nav>
        <ul class="pagination">
            @if (Model.HasPrevious)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span> Previous
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }

            @if (Model.HasNext)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)" aria-label="Next">
                        Next <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <div class="alert alert-info" role="alert">
        There are currently no coaches registered. Click 'Register new coach' to add one.
    </div>
}