@using HorsesForCourses.Application
@using HorsesForCourses.Application.Paging;
@using HorsesForCourses.Application.dtos
@using HorsesForCourses.Infrastructure
@using HorsesForCourses.MVC
@using HorsesForCourses.MVC.ViewModels;
@model PagedResult<CoachDTOPaging>

@{
    ViewData["Title"] = "Coaches summary";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th># of assigned courses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model.Items)
        {
            <tr>
                <td>@coach.Id</td>
                <td>@coach.Name</td>
                <td>@coach.Email</td>
                <td>@coach.NumberOfCoursesAssignedTo</td>
                <td>
                    <a asp-action="Details" asp-route-id="@coach.Id" class="btn btn-warning">Details</a>
                    <a asp-action="EditSkills" asp-route-id="@coach.Id" class="btn btn-secondary">Edit skills</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-success">Register new coach</a>
</p>

<!-- Paging -->
<div>
    <span>Page @Model.PageNumber of @Model.TotalPages</span>
    <div class="btn-group" role="group">
        @if (Model.HasPrevious)
        {
            <a href="@Url.Action("Index", new { page = Model.PageNumber - 1, pageSize = Model.PageSize })"
                class="btn btn-primary">
                Previous
            </a>
        }
        @if (Model.HasNext)
        {
            <a href="@Url.Action("Index", new { page = Model.PageNumber + 1, pageSize = Model.PageSize })"
                class="btn btn-primary">
                Next
            </a>
        }
    </div>
</div>